/* Root Variables */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a73e8;
    --shadow-color: #0f0f0f19;
    --fill-color-svg-social: #000000;
}

/* Dark Mode Variables */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --link-color: #5400BB;
    --shadow-color: #D5D5D519;
    --fill-color-svg-social: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    transition: background-color 0.5s, color 0.5s;
}


.profile-container {
    max-width: min(70%, 600px);
    min-width: min(70%, 600px);
    max-height: fit-content ;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    /* height: 120px; */
}


.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 16px var(--shadow-color);
    justify-content: left;
}

.profile-details {
    width: max-content;
    justify-content: left;
}

.username {
    margin: 0;
    font-size: 24px;
    position: relative;

}

.user-info, .user-group {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

/* Social Links */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

.social-link {
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);

}

.social-link > svg {
    width: 32px;
    height: 32px;
    fill: var(--fill-color-svg-social);
}

.social-link:hover {
    text-decoration: underline;
}

/* Theme Toggle Button */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.linker{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.linker a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px var(--shadow-color);
}

/* Hide/show icons based on theme */
[data-theme="dark"] #icon-sun {
    display: block;
}

[data-theme="dark"] #icon-moon {
    display: none;
}

[data-theme="light"] #icon-sun {
    display: none;
}

[data-theme="light"] #icon-moon {
    display: block;
}

/* Media Queries */
@media (max-width: 600px) {
    .profile-container {
        padding: 15px;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: min(70%, 600px);
    }
    .theme-toggle {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        width: 36px;
        height: 36px;
        right: 20px;
        margin: 0 0;
        top: calc(100% - (20px + 36px));

    }
    
    .theme-toggle svg {
        width: 32px;
        height: 24px;
        fill: var(--text-color);
    }
    .profile-container {
        padding: 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: min(70%, 600px);
    }
    .profile-details {
        position: relative;
        left: 0;
        top: 0;
    }
    .profile-pic{
        position: relative;
        top: 0;
        left: 0;
    }
    .social-links {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-direction: row;
    }
}
